<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desenhando a Bandeira do Brasil no canvas</title>
</head>

<style>
  body {
    background-color: #FFFFFF;
  }

  canvas {
    display: block;
    margin: 0 auto;
  }
</style>

<body>
  <h1>Bandeira do Brasil feita com canvas!</h1>
  <br>
  <canvas width="700" height="600"></canvas>
</body>

<script src="/src/js/brazil-flag.js"></script>

</html>
